* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b80d4;
    border-bottom: 12px solid #095f9d;

}

header h1 {
    margin-right: 14px;
    font-family: 'Righteous', cursive;
    color: #fff;
}

button {
    padding: 6px;
    outline: none;
    border: none;
    background-color: #2ac10c;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #24920e;
}

#btn-cancel {
    background-color: #cb0b0b;
}

#btn-cancel:hover {
    background-color: #8e0b0b;
}

input {
    padding: 6px;
    outline: none;
    border: none;
}

form {
    background-color: #0b80d460;
    padding: 18px;
    text-align: center;
    display: none;
}

form h2 {
    color: #fff;
    margin-bottom: 14px;
    font-size: 18px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    width: 25%;
    list-style: none;
    position: relative;
    max-height: 220px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay-img-lk {
    background-color: #00000082;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    transition: all ease 0.7s;
}

ul li:hover .overlay-img-lk {
    opacity: 1;
}

.overlay-img-lk a {
    text-decoration: none;
    color: #fff;
}